
.newsTickerBackgroundNormal {
    background: linear-gradient(0deg, #027696 0%, #91a0ea 60%, #cedeeb 70%, #91a0ea 80%, #027696  90% 100%);    
    align-items: center; 
} 
.newsTickerBackgroundAbnormal {
    background: linear-gradient(0deg, #212121 0%, #424242 60%, #5e5b5b 70%, #424242 80%, #212121 90% 100%);    
    align-items: center; 
} 
.newsTickerIcon{  
    height: 20px; 
    display: inline-block;
    vertical-align: middle;
} 
.contentNewsTicker{
    vertical-align: middle;
}
.marqueeContainer{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2px;
    height: 35px;
    font-size: 16px;
    display: block;
}
.marqueeLine {
    display: inline-block;
    text-indent: 0;
    overflow: hidden;
    -webkit-transition: 25s;
    transition: 25s;
    -webkit-animation: marquee 25s linear infinite;
    animation: marquee 25s linear infinite;
    vertical-align: middle ;
}

.marqueeLine:hover {
    animation-play-state: paused;
}
@keyframes marquee {
    0% { transform: translate(150%, 0); -webkit-transform: translateX(150%); }
    100% { transform: translate(-100%, 0); -webkit-transform: translateX(-100%); }
 }
 .fontStyleFornewsContentNormal {
    text-shadow:-0.1px -0.1px 0 #4f4d57,
    0.1px -0.1px 0 #4f4d57,
    -0.1px 0.1px 0 #4f4d57,
    0.1px 0.1px 0 #4f4d57,
    0px 0.1px 0.1px rgba(0,0,0,0.6);
    -webkit-text-stroke:0.1px #000;
    position:relative;
    color:#aaddee; ;
    font-size: 16px;
    font-weight:bold;
    -webkit-animation: fillNormal 1s infinite alternate;
  }
  @-webkit-keyframes fillNormal {
    from { -webkit-text-fill-color:#e0e064; }
    to { -webkit-text-fill-color: #aaddee; }
  }
.fontStyleFornewsContentAbnormal {
    text-shadow:-0.1px -0.1px 0 #4f4d57,
    0.1px -0.1px 0 #4f4d57,
    -0.1px 0.1px 0 #4f4d57,
    0.1px 0.1px 0 #4f4d57,
    0px 0.1px 0.1px rgba(0,0,0,0.6);
    -webkit-text-stroke:0.1px #000;
    position:relative;
    color:#e0e064;
    font-size: 16px;
    font-weight:bold;
    -webkit-animation: fillAbnormal 1s infinite alternate;
  } 
 @-webkit-keyframes fillAbnormal {
    from { -webkit-text-fill-color: slategrey; }
    to { -webkit-text-fill-color: #e0e064; }
}