#oneWeekForecast{
    width: 1200px;
    margin: 0 auto;
}
#oneWeekForecast .main-title{
    margin: 0 0;
}
#oneWeekForecastTitle{
    margin: 20px 0;
}
.oneWeekForecastContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}
.oneWeekForecastContent > div{
    display: flex;
    flex-direction: row;
}
.columnTitle, .columnTitle_lightGreen, .columnTitle_red, .rowTitle, .content, .content_whitStroke{
    display: flex;
    flex-shrink: 0;
    height: 80px;
    width: 12.5%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    gap: 5px;
}
.columnTitle, .columnTitle_lightGreen, .columnTitle_red, .rowTitle{
    color: #ffffff;
    flex-direction: column;
}
.columnTitle, .rowTitle{
    background-color: #0f838c;
}
.columnTitle_lightGreen{
    background-color: #5ebdca;
}
.columnTitle_red{
    background-color: #d83023;
}
.content{
    flex-direction: column;
    padding: 2px;
}
.content__img{
    height: 30px;
    width: auto;
    padding: 0px;
}
.content__span{
    margin: 0px;
    padding: 0px;
}
.content_whitStroke{
    font-weight: bold;
    -webkit-text-stroke: 0.3px #ffffff;
}
@media (max-width: 1200px) {
    #oneWeekForecast{
        width: 90%;
    }
}
@media (max-width: 750px) {
    .oneWeekForecastContent .content{
        font-size: 12px;
    }
}
@media (max-width: 720px) {
    #oneWeekForecast{
        width: 90%;
    }
    .oneWeekForecastContent{
        width: 75%;
        margin: 0 auto;
        padding: 0 0;
    }
    .oneWeekForecastContent .content{
        font-size: 16px;
    }
    #oneWeekForecastContent_appTemp, #oneWeekForecastContent_UVI{
        display: none;
    }
    .columnTitle, .columnTitle_lightGreen, .rowTitle, .columnTitle_red, .content{
        width: 22.5vw;
    }
    .oneWeekForecastContent{
        display: flex;
        flex-direction: row;
    }
    .oneWeekForecastContent > div{
        display: flex;
        flex-direction: column;
    }
}